nvim/plugin

user-config/.config/nvim/plugin/packer_compiled.lua
user-config/.config/qtile/__pycache__

user-config/.config/qtile/__pycache__/config.cpython-39.pyc

user-config/.config/qtile/__pycache__/config.cpython-39.pyc